[package]
name = "{{ package_name }}"
version = "{{ version }}"
edition = "2021"
description = "Generated Axum API"

[dependencies]
axum = "0.7"
tokio = { version = "1", features = ["full"] }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
async-trait = "0.1"

[features]
default = []
{%- for tag in tags %}
{{ tag }} = []
{%- endfor %}
